@model FamilyBunker.Entities.groceryList

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>groceryList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="itemName" class="control-label"></label>
                <input asp-for="itemName" class="form-control" />
                <span asp-validation-for="itemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyCodeName" class="control-label"></label>
                <input asp-for="FamilyCodeName"  placeholder=@User.Claims.FirstOrDefault(x => x.Type == "FamilyCodeName").Value  readonly="@(true)" class="form-control" />
                <span asp-validation-for="FamilyCodeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="memberId" class="control-label"></label>
                <select asp-for="memberId" class="form-control" asp-items="ViewBag.memberId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
